services:
  - type: web
    name: tracking-sku-image-lookup
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    plan: free
    envVars:
      - key: UPLOAD_DIR
        value: /data/uploads
      - key: MIN_PARTIAL_DIGITS
        value: 6
      - key: MAX_RESULTS
        value: 50
      - key: ADMIN_PASSWORD
        sync: false
      - key: SECRET_KEY
        sync: false
    disks:
      - name: daily-order-uploads
        mountPath: /data
        sizeGB: 1
